<!-- <div *ngIf="isLoginError" class="red-text center error-message">
    <i class="material-icons">error</i>Incorrect UserName or Password
</div> -->
<form #loginForm="ngForm" class="col s10 white" (ngSubmit)="OnSubmit(UserName.value,Password.value)">

    <div class="row">
        <div class="input-field col s10">
            <input type="text" #UserName ngModel name="UserName" placeholder="UserName" required>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s10">
            <input type="password" #Password ngModel name="Password" placeholder="Password" required>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s10">
            <button [disabled]="!loginForm.valid"class="btn-large btn-submit" type="submit">Login</button>
        </div>
    </div>
</form>