<table class="table">
    <thead>
        <tr>
        <th>Quote Type</th>
        <th>Quote ID</th>
        <th>Contact</th>
        <th>Description</th>
        <th>Due Date</th>
        <th>Task Type</th>
        </tr>
    </thead>
    <tbody>
        <!-- <td>{{data.quotetype}}</td>
        <td>{{data.quoteid}}</td>
        <td>{{data.contact}}</td>
        <td>{{data.description}}</td>
        <td>{{data.duedate}}</td>
        <td>{{data.tasktype}}</td> -->
        <td>{{data.quotetype}}</td>
        <td>{{data.quoteid}}</td>
        <td>{{data.contact}}</td>
        <td>{{data.description}}</td>
        <td>{{data.duedate}}</td>
        <td>{{data.tasktype}}</td>
    </tbody>